body {
    background-color: #121212;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 0 auto;
    padding: 30px 20px 0px;
    max-width: 935px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header img {
    display: flex;
    width: 230px;
    height: 291.672px;
}

.photo-avatar {
    margin: 0px 30px 0px 0px;
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: #333333;
}

.config img {
    width: 24px;
    height: 24px;
}

.config {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.config button {
    height: 35px;
    width: 100px;
    border-radius: 10px;
}

.config h2 {
    font-weight: 400;
    font-size: 20px;
}

.status {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.description {
    align-items: center;
    line-height: 0.3;
    font-size: 15px;
}

.description p:first-child {
    font-weight: 600;
}

.description p:last-child {
    line-height: 15px;
}
.header-infos {
    align-items: center;
    margin-left: 50px;
}

.adicionar-destaque {
    display: flex;
    flex-direction: column;
    max-width: 40px;
    width: 100%;
    align-items: center;
}
.adicionar-destaque img {
    height: 40px;
    margin-top: 40px;
    border-radius: 55px;
    border-style: solid;
    border-color: #333333;
    padding: 20px;
    border-width: 1px;
}

.adicionar-destaque p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.divisor {
    border: 1px solid #333333;
    margin-top: 35px;
}

.grade,
.reels,
.salvos,
.marcados {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.secao-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.conteiner-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feed {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.feed img {
    height: 293px;
        max-width: 293px;
        width: 100%;
}

@media (max-width: 648px) {
    .secao-fotos {
        gap: 20px;
    }
.header-infos {
    margin-left: inherit;
}

.config,
.status {
    gap: 12px;
}
}

@media (max-width: 935px) {
    .feed {
        gap: 20px;
        justify-content: center;
    }
}

@media (max-width: 468px) {
    .sumir-texto-mobile {
        display: none;
    }

    .grade,
    .reels,
    .salvos,
    .marcados {
        width: 30px;
        height: 30px;
    }
}